In [52]:
!pip install xgboost

Requirement already satisfied: xgboost in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (2.1.1)
Requirement already satisfied: scipy in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.13.1)
Requirement already satisfied: numpy in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (2.0.0)

In [53]:
# 1. Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
import seaborn as sns
import matplotlib.pyplot as plt
# Ignore all warnings
import warnings
warnings.filterwarnings('ignore')


from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.svm import SVC
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report, accuracy_score

In [54]:
#Installing ucimlrepo package
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from ucimlrepo) (2022.12.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2022.7)
Requirement already satisfied: numpy>=1.22.4 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2.0.0)
Requirement already satisfied: tzdata>=2022.7 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [55]:
#Fetching UCI repositories 
from ucimlrepo import fetch_ucirepo, list_available_datasets
#List of UCI repositories with ID
list_available_datasets()

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Annealing                                                                               3
Audiology (Standardized)                                                                8
Auto MPG                                                                                9
Automobile                                                                              10
Balance Scale                                                                           12
Balloons                                                                                13
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Prognostic)                                                    16
Breast Cancer Wisconsin (Diagnostic)                                                    17
Pittsburgh Bridges                                                                      18
Car Evaluation                                                                          19
Census Income                                                                           20
Chess (King-Rook vs. King-Pawn)                                                         22
Chess (King-Rook vs. King)                                                              23
Connect-4                                                                               26
Credit Approval                                                                         27
Japanese Credit Screening                                                               28
Computer Hardware                                                                       29
Contraceptive Method Choice                                                             30
Covertype                                                                               31
Cylinder Bands                                                                          32
Dermatology                                                                             33
Echocardiogram                                                                          38
Ecoli                                                                                   39
Flags                                                                                   40
Glass Identification                                                                    42
Haberman's Survival                                                                     43
Hayes-Roth                                                                              44
Heart Disease                                                                           45
Hepatitis                                                                               46
Horse Colic                                                                             47
Image Segmentation                                                                      50
Ionosphere                                                                              52
Iris                                                                                    53
ISOLET                                                                                  54
Lenses                                                                                  58
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Lymphography                                                                            63
Molecular Biology (Splice-junction Gene Sequences)                                      69
MONK's Problems                                                                         70
Mushroom                                                                                73
Musk (Version 1)                                                                        74
Musk (Version 2)                                                                        75
Nursery                                                                                 76
Page Blocks Classification                                                              78
Optical Recognition of Handwritten Digits                                               80
Pen-Based Recognition of Handwritten Digits                                             81
Post-Operative Patient                                                                  82
Primary Tumor                                                                           83
Servo                                                                                   87
Shuttle Landing Control                                                                 88
Solar Flare                                                                             89
Soybean (Large)                                                                         90
Soybean (Small)                                                                         91
Challenger USA Space Shuttle O-Ring                                                     92
Spambase                                                                                94
SPECT Heart                                                                             95
SPECTF Heart                                                                            96
Tic-Tac-Toe Endgame                                                                     101
Congressional Voting Records                                                            105
Waveform Database Generator (Version 1)                                                 107
Wine                                                                                    109
Yeast                                                                                   110
Zoo                                                                                     111
US Census Data (1990)                                                                   116
Census-Income (KDD)                                                                     117
El Nino                                                                                 122
Statlog (Australian Credit Approval)                                                    143
Statlog (German Credit Data)                                                            144
Statlog (Heart)                                                                         145
Statlog (Landsat Satellite)                                                             146
Statlog (Image Segmentation)                                                            147
Statlog (Shuttle)                                                                       148
Statlog (Vehicle Silhouettes)                                                           149
Connectionist Bench (Sonar, Mines vs. Rocks)                                            151
Cloud                                                                                   155
Poker Hand                                                                              158
MAGIC Gamma Telescope                                                                   159
Mammographic Mass                                                                       161
Forest Fires                                                                            162
Concrete Compressive Strength                                                           165
Ozone Level Detection                                                                   172
Parkinsons                                                                              174
Blood Transfusion Service Center                                                        176
Communities and Crime                                                                   183
Acute Inflammations                                                                     184
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Cardiotocography                                                                        193
Steel Plates Faults                                                                     198
Communities and Crime Unnormalized                                                      211
Vertebral Column                                                                        212
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Skin Segmentation                                                                       229
Individual Household Electric Power Consumption                                         235
Energy Efficiency                                                                       242
Fertility                                                                               244
ISTANBUL STOCK EXCHANGE                                                                 247
User Knowledge Modeling                                                                 257
EEG Eye State                                                                           264
Banknote Authentication                                                                 267
Gas Sensor Array Drift at Different Concentrations                                      270
Bike Sharing                                                                            275
Thoracic Surgery Data                                                                   277
Airfoil Self-Noise                                                                      291
Wholesale customers                                                                     292
Combined Cycle Power Plant                                                              294
Diabetes 130-US Hospitals for Years 1999-2008                                           296
Tennis Major Tournament Match Statistics                                                300
Dow Jones Index                                                                         312
Student Performance                                                                     320
Phishing Websites                                                                       327
Diabetic Retinopathy Debrecen                                                           329
Online News Popularity                                                                  332
Chronic Kidney Disease                                                                  336
Mice Protein Expression                                                                 342
Default of Credit Card Clients                                                          350
Online Retail                                                                           352
Occupancy Detection                                                                     357
Air Quality                                                                             360
Polish Companies Bankruptcy                                                             365
Dota2 Games Results                                                                     367
Facebook Metrics                                                                        368
HTRU2                                                                                   372
Drug Consumption (Quantified)                                                           373
Appliances Energy Prediction                                                            374
Website Phishing                                                                        379
YouTube Spam Collection                                                                 380
Beijing PM2.5                                                                           381
Cervical Cancer (Risk Factors)                                                          383
Stock Portfolio Performance                                                             390
Sales Transactions Weekly                                                               396
Daily Demand Forecasting Orders                                                         409
Autistic Spectrum Disorder Screening Data for Children                                  419
Autism Screening Adult                                                                  426
Absenteeism at work                                                                     445
Breast Cancer Coimbra                                                                   451
Drug Reviews (Druglib.com)                                                              461
Drug Reviews (Drugs.com)                                                                462
Superconductivty Data                                                                   464
Student Academics Performance                                                           467
Online Shoppers Purchasing Intention Dataset                                            468
Electrical Grid Stability Simulated Data                                                471
Real Estate Valuation                                                                   477
Travel Reviews                                                                          484
Travel Review Ratings                                                                   485
Facebook Live Sellers in Thailand                                                       488
Metro Interstate Traffic Volume                                                         492
Hepatitis C Virus (HCV) for Egyptian patients                                           503
Heart Failure Clinical Records                                                          519
Early Stage Diabetes Risk Prediction                                                    529
Pedestrians in Traffic                                                                  536
Cervical Cancer Behavior Risk                                                           537
Estimation of Obesity Levels Based On Eating Habits and Physical Condition              544
Rice (Cammeo and Osmancik)                                                              545
Algerian Forest Fires                                                                   547
Gas Turbine CO and NOx Emission Data Set                                                551
Apartment for Rent Classified                                                           555
Seoul Bike Sharing Demand                                                               560
Iranian Churn                                                                           563
Bone marrow transplant: children                                                        565
COVID-19 Surveillance                                                                   567
HCV data                                                                                571
Taiwanese Bankruptcy Prediction                                                         572
Myocardial infarction complications                                                     579
Student Performance on an Entrance Examination                                          582
Gender by Name                                                                          591
Productivity Prediction of Garment Employees                                            597
AI4I 2020 Predictive Maintenance Dataset                                                601
Dry Bean                                                                                602
In-Vehicle Coupon Recommendation                                                        603
Predict Students' Dropout and Academic Success                                          697
Auction Verification                                                                    713
NATICUSdroid (Android Permissions)                                                      722
Toxicity                                                                                728
DARWIN                                                                                  732
Accelerometer Gyro Mobile Phone                                                         755
Glioma Grading Clinical and Mutation Features                                           759
Multivariate Gait Data                                                                  760
Land Mines                                                                              763
Single Elder Home Monitoring: Gas and Position                                          799
Sepsis Survival Minimal Clinical Records                                                827
Secondary Mushroom                                                                      848
Power Consumption of Tetouan City                                                       849
Raisin                                                                                  850
Steel Industry Energy Consumption                                                       851
Higher Education Students Performance Evaluation                                        856
Risk Factor Prediction of Chronic Kidney Disease                                        857
Maternal Health Risk                                                                    863
Room Occupancy Estimation                                                               864
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891
Recipe Reviews and User Feedback                                                        911
Forty Soybean Cultivars from Subsequent Harvests                                        913
Differentiated Thyroid Cancer Recurrence                                                915
Infrared Thermography Temperature                                                       925
National Poll on Healthy Aging (NPHA)                                                   936
Regensburg Pediatric Appendicitis                                                       938
RT-IoT2022                                                                              942
PhiUSIIL Phishing URL (Website)                                                         967

In [56]:
# fetch dataset and create dataframe
adult = fetch_ucirepo(id=2) 
adultDataFrame = adult.data.original
adultDataFrame

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [57]:
originaldataset = adultDataFrame
originaldataset['workclass'].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [58]:
# adultDataFrame1.replace('?', np.nan, inplace=True)
# # Clean values in income column
# adultDataFrame1['income'].replace('<=50K.', '<=50K',inplace = True)
# adultDataFrame1['income'].replace('>50K.', '>50K',inplace = True)

# print("Duplicate Rows:\n", adultDataFrame1.duplicated().sum())
# duplicates  = adultDataFrame1[adultDataFrame1.duplicated()]
# duplicates
# duplicates[duplicates['fnlwgt']== 308144]
# #Check and drop duplicates
# adult_cleanedData = adultDataFrame1.drop_duplicates(inplace=False)

In [59]:
# 2. Data Cleaning
print("Duplicate Rows:\n", adultDataFrame.duplicated().sum())
# Identify rows where all values are NaN
# Identify rows where all values are NaN
blank_rows = adultDataFrame.isnull().all(axis=1)

# Print the count of blank rows
print("Blank Rows (All NaN values):", blank_rows.sum())
# Handling missing values ('?' is treated as missing in this dataset)
adultDataFrame.replace('?', np.nan, inplace=True)

#Check and drop duplicates
# adult_cleanedData = adultDataFrame1.drop_duplicates(inplace=False)

 

# Clean values in income column
adultDataFrame['income'].replace('<=50K.', '<=50K',inplace = True)
adultDataFrame['income'].replace('>50K.', '>50K',inplace = True)
#adult_cleanedData
adultDataFrame['income'].value_counts()

print("Duplicate Rows:\n", adultDataFrame.duplicated().sum())
duplicates  = adultDataFrame[adultDataFrame.duplicated()]
#duplicates
# #Check and drop duplicates
#adult_cleanedData = adultDataFrame.drop_duplicates(inplace=False)
adultDataFrame.drop_duplicates(inplace=True)

adultDataFrame

Duplicate Rows:
 29
Blank Rows (All NaN values): 0
Duplicate Rows:
 52

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [60]:
adultDataFrame['education_new'] = np.where(np.isin(adultDataFrame.education,['Preschool','1st-4th','5th-6th']),'Elementary',
                           np.where(np.isin(adultDataFrame.education,['7th-8th']),'Middle-School',
                           np.where(np.isin(adultDataFrame.education,['9th','10th','11th','12th']),'High-School',adultDataFrame.education)))
adultDataFrame[['education_new','education']].value_counts()

education_new  education
HS-grad        HS-grad         15770
Some-college   Some-college    10863
Bachelors      Bachelors        8013
Masters        Masters          2656
Assoc-voc      Assoc-voc        2060
High-School    11th             1812
Assoc-acdm     Assoc-acdm       1601
High-School    10th             1389
Middle-School  7th-8th           954
Prof-school    Prof-school       834
High-School    9th               756
               12th              655
Doctorate      Doctorate         594
Elementary     5th-6th           507
               1st-4th           245
               Preschool          81
Name: count, dtype: int64

In [61]:
#Now drop the column which are not needed
adultDataFrame.drop(columns=['fnlwgt','education','education-num'], inplace=True)

In [62]:
adultDataFrame

,age,workclass,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,education_new
0,39,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Bachelors
1,50,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Bachelors
2,38,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,HS-grad
3,53,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,High-School
4,28,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Bachelors
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K,Bachelors
48838,64,NaN,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K,HS-grad
48839,38,Private,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K,Bachelors
48840,44,Private,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K,Bachelors
48841,35,Self-emp-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K,Bachelors

In [63]:
# Cap 'hours-per-week' at 80adultDataFrame
adultDataFrame['hours-per-week'] = adultDataFrame['hours-per-week'].apply(lambda x: 80 if x > 80 else x)

# Verify the changes
print(adultDataFrame['hours-per-week'].unique())

[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 33 54  8  6 64 19 18 72  5  9 47 37
 21 26 14  4 59  7 53 39 62 57 78 66 11 49  3 17 68 27 31 51 77 63 23 73
 29 67 76 61 74 79 69]

In [64]:
# encoding values 
from sklearn.preprocessing import LabelEncoder
encode_columns = ['workclass','occupation','marital-status','education_new','relationship','race','sex','native-country','income']

for column in encode_columns:
 adultDataFrame[column+'_enc'] = LabelEncoder().fit_transform(adultDataFrame[column])

In [65]:
adultDataFrame

,age,workclass,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,...,education_new,workclass_enc,occupation_enc,marital-status_enc,education_new_enc,relationship_enc,race_enc,sex_enc,native-country_enc,income_enc
0,39,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,...,Bachelors,6,0,4,2,1,4,1,38,0
1,50,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,...,Bachelors,5,3,2,2,0,4,1,38,0
2,38,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,...,HS-grad,3,5,0,5,1,4,1,38,0
3,53,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,...,High-School,3,5,2,6,0,2,1,38,0
4,28,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,...,Bachelors,3,9,2,2,5,2,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,...,Bachelors,3,9,0,2,1,4,0,38,0
48838,64,NaN,Widowed,NaN,Other-relative,Black,Male,0,0,40,...,HS-grad,8,14,6,5,2,2,1,38,0
48839,38,Private,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,...,Bachelors,3,9,2,2,0,4,1,38,0
48840,44,Private,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,...,Bachelors,3,0,0,2,3,1,1,38,0
48841,35,Self-emp-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,...,Bachelors,4,3,2,2,0,4,1,38,1

In [66]:
adultDataFrame['workclass'].isnull().sum()

np.int64(2795)

In [67]:
adultDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48790 entries, 0 to 48841
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 48790 non-null  int64
 1   workclass           45995 non-null  object
 2   marital-status      48790 non-null  object
 3   occupation          45985 non-null  object
 4   relationship        48790 non-null  object
 5   race                48790 non-null  object
 6   sex                 48790 non-null  object
 7   capital-gain        48790 non-null  int64
 8   capital-loss        48790 non-null  int64
 9   hours-per-week      48790 non-null  int64
 10  native-country      47934 non-null  object
 11  income              48790 non-null  object
 12  education_new       48790 non-null  object
 13  workclass_enc       48790 non-null  int64
 14  occupation_enc      48790 non-null  int64
 15  marital-status_enc  48790 non-null  int64
 16  education_new_enc   48790 non-null  int64
 17  relationship_enc    48790 non-null  int64
 18  race_enc            48790 non-null  int64
 19  sex_enc             48790 non-null  int64
 20  native-country_enc  48790 non-null  int64
 21  income_enc          48790 non-null  int64
dtypes: int64(13), object(9)
memory usage: 8.6+ MB

In [68]:
#Handling Outliers(Imputation using Predictive modeling)

In [69]:
#Impute Missing values for workclass


#impute numerical columns with median 
num_imputer = SimpleImputer(strategy='median') 
adultDataFrame[['occupation_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] = num_imputer.fit_transform(adultDataFrame[['occupation_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']])

#Separate rows with missing 'workclass' values
missing_wc = adultDataFrame[adultDataFrame['workclass'].isna()] 
not_missing_wc = adultDataFrame[adultDataFrame['workclass'].notna()]

#Label encode 'workclass' for rows without missing values
le_wc = LabelEncoder()
not_missing_wc['wc_Enc'] = le_wc.fit_transform(not_missing_wc['workclass'])

#Features (excluding 'workplace') and target ('wc_Enc')
X_wc = not_missing_wc[['occupation_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
y_wc = not_missing_wc['wc_Enc']

In [70]:
# svm_classifier_wc = SVC(kernel='linear', random_state=42)

# #perform cross validation 
# cross_val_score(svm_classifier_wc, X = X_wc, y = y_wc, cv = 5)

In [71]:
#comparing the accuarcy for different models and choosing the best model based on accuracy

# List to store results
model_scores = {}

# Random Forest Classifier
rf_classifier_wc = RandomForestClassifier(n_estimators=100, random_state=42)
rf_cv_scores = cross_val_score(rf_classifier_wc, X=X_wc, y=y_wc, cv=5)
model_scores['Random Forest'] = rf_cv_scores.mean()

# XGBoost Classifier
xgb_classifier_wc = XGBClassifier(n_estimators=100, random_state=42, use_label_encoder=False, eval_metric='mlogloss')
xgb_cv_scores = cross_val_score(xgb_classifier_wc, X=X_wc, y=y_wc, cv=5)
model_scores['XGBoost'] = xgb_cv_scores.mean()

# Neural Network (MLP Classifier)
nn_classifier_wc = MLPClassifier(hidden_layer_sizes=(100,), max_iter=500, random_state=42)
nn_cv_scores = cross_val_score(nn_classifier_wc, X=X_wc, y=y_wc, cv=5)
model_scores['Neural Network'] = nn_cv_scores.mean()

# Logistic Regression Classifier
logreg_classifier_wc = LogisticRegression(max_iter=1000, random_state=42)
logreg_cv_scores = cross_val_score(logreg_classifier_wc, X=X_wc, y=y_wc, cv=5)
model_scores['Logistic Regression'] = logreg_cv_scores.mean()

# Print cross-validation results for all models
for model_name, score in model_scores.items():
    print(f"{model_name} Cross-Validation Mean Accuracy: {score * 100:.2f}%")

Random Forest Cross-Validation Mean Accuracy: 71.27%
XGBoost Cross-Validation Mean Accuracy: 74.90%
Neural Network Cross-Validation Mean Accuracy: 71.21%
Logistic Regression Cross-Validation Mean Accuracy: 73.56%

In [72]:
#based on the cross validation results XGBoost classifier has high accuracy but this model seems to 
#overfit the data by populating more blanks with never-worked class so we decided to go with next best model
#that is logistic regression classifier

#train logistic regression classifier for workclass
rf_classifier_wc = LogisticRegression(max_iter=1000, random_state=42)

#perform cross validation 
cross_val_score(rf_classifier_wc, X = X_wc, y = y_wc, cv = 5)

#fit the model
rf_classifier_wc.fit(X_wc, y_wc) 


#Predict missing 'workclass' for rows with missing values
X_missing_wc = missing_wc[['occupation_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
missing_wc_pred = rf_classifier_wc.predict(X_missing_wc[['occupation_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']]) 

#Decode predicted 'workclass' back to original categories 
missing_wc['wc_Predicted'] = le_wc.inverse_transform(missing_wc_pred)

#Fill missing 'workclass' with predicted values 
adultDataFrame.loc[adultDataFrame['workclass'].isna(), 'workclass'] = missing_wc['wc_Predicted']

In [73]:
adultDataFrame['workclass'].value_counts()

workclass
Private             36655
Self-emp-not-inc     3861
Local-gov            3136
State-gov            1981
Self-emp-inc         1694
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [ ]:
# original dataset workclass 
# Private             33906
# Self-emp-not-inc     3862
# Local-gov            3136
# State-gov            1981
# ?                    1836
# Self-emp-inc         1695
# Federal-gov          1432
# Without-pay            21
# Never-worked           10
# Name: count, dtype: int64

#random forest results
#workclass
# Private             35562
# Self-emp-not-inc     3949
# Local-gov            3198
# State-gov            1992
# Self-emp-inc         1706
# Federal-gov          1440
# Never-worked          921
# Without-pay            22
# Name: count, dtype: int64

#logistic regression results
# workclass
# Private             36655
# Self-emp-not-inc     3861
# Local-gov            3136
# State-gov            1981
# Self-emp-inc         1694
# Federal-gov          1432
# Without-pay            21
# Never-worked           10
# Name: count, dtype: int64

In [80]:
#Impute Missing values for occupation


#impute numerical columns with median 
num_imputer = SimpleImputer(strategy='median') 
adultDataFrame[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] = num_imputer.fit_transform(adultDataFrame[['occupation_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']])

#Separate rows with missing 'workclass' values
missing_oc = adultDataFrame[adultDataFrame['occupation'].isna()] 
not_missing_oc = adultDataFrame[adultDataFrame['occupation'].notna()]

#Label encode 'workclass' for rows without missing values
le_oc = LabelEncoder()
not_missing_oc['oc_Enc'] = le_oc.fit_transform(not_missing_oc['occupation'])

#Features (excluding 'workplace') and target ('wc_Enc')
X_oc = not_missing_oc[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
y_oc = not_missing_oc['oc_Enc']

In [81]:
#comparing the accuarcy for different models and choosing the best model based on accuracy

# List to store results
model_scores = {}

# Random Forest Classifier
rf_classifier_oc = RandomForestClassifier(n_estimators=100, random_state=42)
rf_cv_scores = cross_val_score(rf_classifier_oc, X=X_oc, y=y_oc, cv=5)
model_scores['Random Forest'] = rf_cv_scores.mean()

# XGBoost Classifier
xgb_classifier_oc = XGBClassifier(n_estimators=100, random_state=42, use_label_encoder=False, eval_metric='mlogloss')
xgb_cv_scores = cross_val_score(xgb_classifier_oc, X=X_oc, y=y_oc, cv=5)
model_scores['XGBoost'] = xgb_cv_scores.mean()

# Neural Network (MLP Classifier)
nn_classifier_oc = MLPClassifier(hidden_layer_sizes=(100,), max_iter=500, random_state=42)
nn_cv_scores = cross_val_score(nn_classifier_oc, X=X_oc, y=y_oc, cv=5)
model_scores['Neural Network'] = nn_cv_scores.mean()

# Logistic Regression Classifier
logreg_classifier_oc = LogisticRegression(max_iter=1000, random_state=42)
logreg_cv_scores = cross_val_score(logreg_classifier_oc, X=X_oc, y=y_oc, cv=5)
model_scores['Logistic Regression'] = logreg_cv_scores.mean()

# Print cross-validation results for all models
for model_name, score in model_scores.items():
    print(f"{model_name} Cross-Validation Mean Accuracy: {score * 100:.2f}%")

Random Forest Cross-Validation Mean Accuracy: 99.31%
XGBoost Cross-Validation Mean Accuracy: 100.00%
Neural Network Cross-Validation Mean Accuracy: 92.79%
Logistic Regression Cross-Validation Mean Accuracy: 36.22%

In [ ]:
Random Forest Cross-Validation Mean Accuracy: 99.31%
XGBoost Cross-Validation Mean Accuracy: 100.00%
Neural Network Cross-Validation Mean Accuracy: 92.79%
Logistic Regression Cross-Validation Mean Accuracy: 36.22%

In [77]:
#based on the cross validation results XGBoost classifier has high accuracy but this model seems to 
#overfit the data by populating more blanks with never-worked class so we decided to go with next best model
#that is logistic regression classifier

#train logistic regression classifier for workclass
xgb_classifier_oc = LogisticRegression(max_iter=1000, random_state=42)

#perform cross validation 
cross_val_score(xgb_classifier_oc, X = X_oc, y = y_oc, cv = 5)

#fit the model
xgb_classifier_oc.fit(X_oc, y_oc) 

#Predict missing 'workclass' for rows with missing values
X_missing_oc = missing_oc[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
missing_oc_pred = xgb_classifier_oc.predict(X_missing_oc[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']]) 

#Decode predicted 'workclass' back to original categories 
missing_oc['wc_Predicted'] = le_oc.inverse_transform(missing_oc_pred)

#Fill missing 'workclass' with predicted values 
adultDataFrame.loc[adultDataFrame['occupation'].isna(), 'occupation'] = missing_oc['wc_Predicted']

In [79]:
adultDataFrame['occupation'].isnull().sum()

np.int64(2805)

In [30]:
# Impute numerical columns with median 
num_imputer = SimpleImputer(strategy='median') 
adultDataFrame[['education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] = num_imputer.fit_transform(adultDataFrame[['education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']])

#  ### Part 1: Impute Missing occupation ###

# # Separate rows with missing 'occupation' 
missing_wc = adultDataFrame[adultDataFrame['occupation'].isna()] 
not_missing_wc = adultDataFrame[adultDataFrame['occupation'].notna()]

# # Label encode 'workclass' for rows without missing values
le_wc = LabelEncoder()
not_missing_wc['oc_Enc'] = le_wc.fit_transform(not_missing_wc['occupation'])

# # Features (excluding 'workplace') and target ('wc_Enc')
X_wc = not_missing_wc[['education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
y_wc = not_missing_wc['oc_Enc']   


# Train Random Forest Classifier for 'workclass' 
rf_classifier_wc = RandomForestClassifier(n_estimators=100, random_state=42) 
rf_classifier_wc.fit(X_wc[['education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']], y_wc) 

# # Predict missing 'workclass' for rows with missing values
X_missing_wc = missing_wc[['education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
missing_wc_pred = rf_classifier_wc.predict(X_missing_wc[['education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']]) 

# Decode predicted 'workclass' back to original categories 
missing_wc['oc_Predicted'] = le_wc.inverse_transform(missing_wc_pred)

# # Fill missing 'workclass' with predicted values 
adultDataFrame.loc[adultDataFrame['occupation'].isna(), 'occupation'] = missing_wc['oc_Predicted']

In [31]:
adultDataFrame['occupation'].value_counts()

occupation
Prof-specialty       6462
Craft-repair         6425
Exec-managerial      6301
Adm-clerical         6099
Sales                5902
Other-service        5539
Machine-op-inspct    3125
Transport-moving     2442
Handlers-cleaners    2206
Farming-fishing      1580
Tech-support         1472
Protective-serv      1009
Priv-house-serv       264
Armed-Forces           16
Name: count, dtype: int64

In [14]:
# # Impute numerical columns with median 
# num_imputer = SimpleImputer(strategy='median') 
# adultDataFrame1[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] = num_imputer.fit_transform(adultDataFrame1[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']])

# #  ### Part 1: Impute Missing occupation ###

# # # Separate rows with missing 'occupation' 
# missing_wc = adultDataFrame1[adultDataFrame1['occupation'].isna()] 
# not_missing_wc = adultDataFrame1[adultDataFrame1['occupation'].notna()]

# # # Label encode 'workclass' for rows without missing values
# le_wc = LabelEncoder()
# not_missing_wc['oc_Enc'] = le_wc.fit_transform(not_missing_wc['occupation'])

# # # Features (excluding 'workplace') and target ('wc_Enc')
# X_wc = not_missing_wc[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
# y_wc = not_missing_wc['oc_Enc']   


# # Train Random Forest Classifier for 'workclass' 
# rf_classifier_wc = RandomForestClassifier(n_estimators=100, random_state=42) 
# rf_classifier_wc.fit(X_wc[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']], y_wc) 

# # # Predict missing 'workclass' for rows with missing values
# X_missing_wc = missing_wc[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
# missing_wc_pred = rf_classifier_wc.predict(X_missing_wc[['workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']]) 

# # Decode predicted 'workclass' back to original categories 
# missing_wc['oc_Predicted'] = le_wc.inverse_transform(missing_wc_pred)

# # # Fill missing 'workclass' with predicted values 
# adultDataFrame1.loc[adultDataFrame1['occupation'].isna(), 'occupation'] = missing_wc['oc_Predicted']

In [15]:
adultDataFrame1['occupation'].value_counts()

occupation
Prof-specialty       6706
Exec-managerial      6345
Adm-clerical         6294
Craft-repair         6259
Sales                5535
Other-service        5499
Machine-op-inspct    3027
Transport-moving     2495
Handlers-cleaners    2132
Farming-fishing      1701
Tech-support         1493
Protective-serv      1099
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [ ]:
#original dataset
occupation
Prof-specialty       6167
Craft-repair         6107
Exec-managerial      6084
Adm-clerical         5608
Sales                5504
Other-service        4919
Machine-op-inspct    3019
Transport-moving     2355
Handlers-cleaners    2071
Farming-fishing      1487
Tech-support         1445
Protective-serv       983
Priv-house-serv       240
Armed-Forces           15

#sailaja's initial 
occupation
Craft-repair         6431
Prof-specialty       6428
Exec-managerial      6281
Adm-clerical         6105
Sales                5906
Other-service        5523
Machine-op-inspct    3130
Transport-moving     2450
Handlers-cleaners    2228
Farming-fishing      1587
Tech-support         1467
Protective-serv      1006
Priv-house-serv       256
Armed-Forces           15

#sailaja's latest
Prof-specialty       6436
Craft-repair         6429
Exec-managerial      6289
Adm-clerical         6087
Sales                5906
Other-service        5524
Machine-op-inspct    3140
Transport-moving     2443
Handlers-cleaners    2218
Farming-fishing      1582
Tech-support         1473
Protective-serv      1013
Priv-house-serv       258
Armed-Forces           15

In [25]:
adultDataFrame1['income_enc'].value_counts()

income_enc
0    37155
1    11687
Name: count, dtype: int64

In [75]:
# Impute numerical columns with median 
num_imputer = SimpleImputer(strategy='median') 
adultDataFrame1[['occupation_enc','workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] = num_imputer.fit_transform(adultDataFrame1[['occupation_enc','workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']])

#  ### Part 1: Impute Missing native-country ###

# # Separate rows with missing 'occupation' 
missing_wc = adultDataFrame1[adultDataFrame1['native-country'].isna()] 
not_missing_wc = adultDataFrame1[adultDataFrame1['native-country'].notna()]

# # Label encode 'workclass' for rows without missing values
le_wc = LabelEncoder()
not_missing_wc['nc_Enc'] = le_wc.fit_transform(not_missing_wc['native-country'])

# # Features (excluding 'workplace') and target ('wc_Enc')
X_wc = not_missing_wc[['occupation_enc','workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
y_wc = not_missing_wc['nc_Enc']   


# Train Random Forest Classifier for 'workclass' 
rf_classifier_wc = RandomForestClassifier(n_estimators=100, random_state=42) 
rf_classifier_wc.fit(X_wc[['occupation_enc','workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']], y_wc) 

# # Predict missing 'workclass' for rows with missing values
X_missing_wc = missing_wc[['occupation_enc','workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']] 
missing_wc_pred = rf_classifier_wc.predict(X_missing_wc[['occupation_enc','workclass_enc','education_new_enc','sex_enc','marital-status_enc','age','relationship_enc','race_enc','hours-per-week','capital-gain','capital-loss','income_enc']]) 

# Decode predicted 'workclass' back to original categories 
missing_wc['nc_Predicted'] = le_wc.inverse_transform(missing_wc_pred)

# # Fill missing 'workclass' with predicted values 
adultDataFrame1.loc[adultDataFrame1['native-country'].isna(), 'native-country'] = missing_wc['nc_Predicted']

In [76]:
adultDataFrame1['native-country'].value_counts()

native-country
United-States                 44596
Mexico                          967
Philippines                     321
Germany                         206
Puerto-Rico                     185
Canada                          182
India                           161
El-Salvador                     156
Cuba                            138
China                           137
England                         127
South                           121
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            96
Vietnam                          89
Guatemala                        88
Poland                           87
Columbia                         85
Haiti                            75
Taiwan                           67
Portugal                         67
Iran                             61
Nicaragua                        49
Greece                           49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             33
Thailand                         30
Trinadad&Tobago                  28
Cambodia                         28
Laos                             24
Outlying-US(Guam-USVI-etc)       24
Yugoslavia                       24
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

In [ ]:
#feature selection by using random forest classifier
# Label Encoding for categorical columns
# Create a list of categorical columns
categorical_cols = adult_df_featsel.select_dtypes(include=['object']).columns

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply LabelEncoder to all categorical columns
for col in categorical_cols:
    adult_df_featsel[col] = label_encoder.fit_transform(adult_df_featsel[col])
    
# Split the data
X = adult_df_featsel.drop(columns='income')
y = adult_df_featsel['income']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train Random Forest model
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)

#Feature Importance using Random Forest
feature_importances = rf_model.feature_importances_
features = X.columns

# Create a DataFrame for visualization
feat_importance_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances})
feat_importance_df = feat_importance_df.sort_values(by='Importance', ascending=False)
print(feat_importance_df)

In [74]:
# #filling the missing values for workclass column

# #identify missing values in workclass column
# test_data = adultDataFrame1[(adultDataFrame1['workclass'].isnull())].copy()
# test_label = test_data.workclass

# train_data = adultDataFrame1[(adultDataFrame1['workclass'].notnull())].copy()
# train_label = train_data.workclass

# #remove the workclass column from train data and test data
# test_data.drop(columns = ['workclass'], inplace = True)
# train_data.drop(columns = ['workclass'], inplace = True)

# # Initialize OneHotEncoder
# encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# # Fit the encoder on the training data
# train_encoded = encoder.fit_transform(train_data)

# # Apply the same encoding to the test data
# test_encoded = encoder.transform(test_data)

# # Ensure both datasets have the same columns
# train_data_encoded = pd.DataFrame(train_encoded, columns=encoder.get_feature_names_out())
# test_data_encoded = pd.DataFrame(test_encoded, columns=encoder.get_feature_names_out())


# # Perform one-hot encoding on train_data and test_data
# train_data_encoded = pd.get_dummies(train_data)
# test_data_encoded = pd.get_dummies(test_data)

# # Ensure test_data_encoded has the same columns as train_data_encoded
# test_data_encoded = test_data_encoded.reindex(columns=train_data_encoded.columns, fill_value=0)

# #Train and predict the model using logistic regression
# log_reg = LogisticRegression()
# log_reg.fit(train_data_encoded, train_label)
# log_reg_pred = log_reg.predict(test_data_encoded)

# #Train and predict the model using decision tree classifier
# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(train_data_encoded, train_label)
# clf_pred = clf.predict(test_data_encoded)

# #Train and predict the model using random forest classifier
# r_forest = RandomForestClassifier(n_estimators=10)
# r_forest.fit(train_data_encoded, train_label)
# r_forest_pred = r_forest.predict(test_data_encoded)

# # Determine the majority class for 'workclass'
# majority_class = adultDataFrame1.workclass.value_counts().index[0]

# # Create DataFrame for predictions from different models
# pred_df = pd.DataFrame({'RFor': r_forest_pred, 'DTree': clf_pred, 'LogReg': log_reg_pred})
# #pred_df

# #Determine the overall prediction using majority voting
# overall_pred = pred_df.apply(lambda x: x.value_counts().index[0] if x.value_counts()[0] > 1 else majority_class, axis=1)
# #overall_pred

# # Ensure the 'overall_pred' has the same index as the rows we want to update
# mask = adultDataFrame1['workclass'].isnull()
# adultDataFrame1.loc[mask, 'workclass'] = overall_pred.values

# # Verify the results
# print(adultDataFrame1.workclass.value_counts())
# print(adultDataFrame1.workclass.unique())

In [75]:
# 3. Exploratory Data Analysis (EDA)
# Correlation analysis (only for numeric features)
sns.heatmap(adultDataFrame.corr(), annot=True, cmap='coolwarm')
plt.show()

ValueError: could not convert string to float: 'State-gov'

In [ ]:
# List of models to use
models = {
    'Logistic Regression': LogisticRegression(max_iter=500),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(n_estimators=100),
    'KNN': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    'SVM': SVC()
}

# Dictionary to store results
results = {}

# Train and evaluate each model
for model_name, model in models.items():
    # Train the model
    model.fit(X_train, y_train)
    
    # Predict on test data
    y_pred = model.predict(X_test)
    
    # Calculate confusion matrix and accuracy
    cm = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    
    # Store the results
    results[model_name] = {
        'Confusion Matrix': cm,
        'Accuracy': accuracy
    }
    
    # Print the results for each model
    print(f"{model_name} Confusion Matrix:\n{cm}\n")
    print(f"{model_name} Accuracy: {accuracy:.4f}\n")

# Optional: Print all results at once
for model_name, metrics in results.items():
    print(f"Model: {model_name}")
    print(f"Confusion Matrix:\n{metrics['Confusion Matrix']}")
    print(f"Accuracy: {metrics['Accuracy']:.4f}\n")

In [ ]:
# 4. Data Preprocessing
# Label Encoding for categorical variables
for column in df.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])

# Normalization/Standardization
scaler = StandardScaler()
df[['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']] = scaler.fit_transform(
    df[['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']]
)

# Splitting features and target
X = df.drop('income', axis=1)
y = df['income']

In [ ]:
# 5. Feature Selection (using Chi-square test for categorical-target relationships)
selector = SelectKBest(chi2, k=10)
X_new = selector.fit_transform(X, y)

In [ ]:
# 6. Model Training Setup
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.2, stratify=y, random_state=42)

In [ ]:
# 7. Model Explanation and Execution (RandomForestClassifier with hyperparameter tuning)
pipeline = Pipeline([
    ('classifier', RandomForestClassifier())
])

# Hyperparameter tuning
param_grid = {
    'classifier__n_estimators': [50, 100, 200],
    'classifier__max_depth': [None, 10, 20, 30],
    'classifier__min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(pipeline, param_grid, cv=5, n_jobs=-1, verbose=1, scoring='accuracy')
grid_search.fit(X_train, y_train)

In [ ]:
# 8. Model Evaluation
best_model = grid_search.best_estimator_

y_pred = best_model.predict(X_test)
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nAccuracy Score: ", accuracy_score(y_test, y_pred))

# Best parameters found by grid search
print("\nBest Hyperparameters:\n", grid_search.best_params_)