In [6]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\shwet\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: numpy in c:\users\shwet\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\shwet\anaconda3\lib\site-packages (from xgboost) (1.11.4)

In [54]:
# 1. Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
import seaborn as sns
import matplotlib.pyplot as plt
# Ignore all warnings
import warnings
warnings.filterwarnings('ignore')

import scipy.stats as stats  # Import the stats module for ANOVA
from sklearn.feature_selection import chi2, SelectKBest
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.svm import SVC
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report, accuracy_score, precision_score

from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [35]:
#Installing ucimlrepo package
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\shwet\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\shwet\anaconda3\lib\site-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\shwet\anaconda3\lib\site-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\shwet\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shwet\appdata\roaming\python\python311\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shwet\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shwet\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shwet\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [36]:
#Fetching UCI repositories 
from ucimlrepo import fetch_ucirepo, list_available_datasets
#List of UCI repositories with ID
list_available_datasets()

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Annealing                                                                               3
Audiology (Standardized)                                                                8
Auto MPG                                                                                9
Automobile                                                                              10
Balance Scale                                                                           12
Balloons                                                                                13
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Prognostic)                                                    16
Breast Cancer Wisconsin (Diagnostic)                                                    17
Pittsburgh Bridges                                                                      18
Car Evaluation                                                                          19
Census Income                                                                           20
Chess (King-Rook vs. King-Pawn)                                                         22
Chess (King-Rook vs. King)                                                              23
Connect-4                                                                               26
Credit Approval                                                                         27
Japanese Credit Screening                                                               28
Computer Hardware                                                                       29
Contraceptive Method Choice                                                             30
Covertype                                                                               31
Cylinder Bands                                                                          32
Dermatology                                                                             33
Echocardiogram                                                                          38
Ecoli                                                                                   39
Flags                                                                                   40
Glass Identification                                                                    42
Haberman's Survival                                                                     43
Hayes-Roth                                                                              44
Heart Disease                                                                           45
Hepatitis                                                                               46
Horse Colic                                                                             47
Image Segmentation                                                                      50
Ionosphere                                                                              52
Iris                                                                                    53
ISOLET                                                                                  54
Lenses                                                                                  58
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Lymphography                                                                            63
Molecular Biology (Splice-junction Gene Sequences)                                      69
MONK's Problems                                                                         70
Mushroom                                                                                73
Musk (Version 1)                                                                        74
Musk (Version 2)                                                                        75
Nursery                                                                                 76
Page Blocks Classification                                                              78
Optical Recognition of Handwritten Digits                                               80
Pen-Based Recognition of Handwritten Digits                                             81
Post-Operative Patient                                                                  82
Primary Tumor                                                                           83
Servo                                                                                   87
Shuttle Landing Control                                                                 88
Solar Flare                                                                             89
Soybean (Large)                                                                         90
Soybean (Small)                                                                         91
Challenger USA Space Shuttle O-Ring                                                     92
Spambase                                                                                94
SPECT Heart                                                                             95
SPECTF Heart                                                                            96
Tic-Tac-Toe Endgame                                                                     101
Congressional Voting Records                                                            105
Waveform Database Generator (Version 1)                                                 107
Wine                                                                                    109
Yeast                                                                                   110
Zoo                                                                                     111
US Census Data (1990)                                                                   116
Census-Income (KDD)                                                                     117
El Nino                                                                                 122
Statlog (Australian Credit Approval)                                                    143
Statlog (German Credit Data)                                                            144
Statlog (Heart)                                                                         145
Statlog (Landsat Satellite)                                                             146
Statlog (Image Segmentation)                                                            147
Statlog (Shuttle)                                                                       148
Statlog (Vehicle Silhouettes)                                                           149
Connectionist Bench (Sonar, Mines vs. Rocks)                                            151
Cloud                                                                                   155
Poker Hand                                                                              158
MAGIC Gamma Telescope                                                                   159
Mammographic Mass                                                                       161
Forest Fires                                                                            162
Concrete Compressive Strength                                                           165
Ozone Level Detection                                                                   172
Parkinsons                                                                              174
Blood Transfusion Service Center                                                        176
Communities and Crime                                                                   183
Acute Inflammations                                                                     184
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Cardiotocography                                                                        193
Steel Plates Faults                                                                     198
Communities and Crime Unnormalized                                                      211
Vertebral Column                                                                        212
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Skin Segmentation                                                                       229
Individual Household Electric Power Consumption                                         235
Energy Efficiency                                                                       242
Fertility                                                                               244
ISTANBUL STOCK EXCHANGE                                                                 247
User Knowledge Modeling                                                                 257
EEG Eye State                                                                           264
Banknote Authentication                                                                 267
Gas Sensor Array Drift at Different Concentrations                                      270
Bike Sharing                                                                            275
Thoracic Surgery Data                                                                   277
Airfoil Self-Noise                                                                      291
Wholesale customers                                                                     292
Combined Cycle Power Plant                                                              294
Diabetes 130-US Hospitals for Years 1999-2008                                           296
Tennis Major Tournament Match Statistics                                                300
Dow Jones Index                                                                         312
Student Performance                                                                     320
Phishing Websites                                                                       327
Diabetic Retinopathy Debrecen                                                           329
Online News Popularity                                                                  332
Chronic Kidney Disease                                                                  336
Mice Protein Expression                                                                 342
Default of Credit Card Clients                                                          350
Online Retail                                                                           352
Occupancy Detection                                                                     357
Air Quality                                                                             360
Polish Companies Bankruptcy                                                             365
Dota2 Games Results                                                                     367
Facebook Metrics                                                                        368
HTRU2                                                                                   372
Drug Consumption (Quantified)                                                           373
Appliances Energy Prediction                                                            374
Website Phishing                                                                        379
YouTube Spam Collection                                                                 380
Beijing PM2.5                                                                           381
Cervical Cancer (Risk Factors)                                                          383
Stock Portfolio Performance                                                             390
Sales Transactions Weekly                                                               396
Daily Demand Forecasting Orders                                                         409
Autistic Spectrum Disorder Screening Data for Children                                  419
Autism Screening Adult                                                                  426
Absenteeism at work                                                                     445
Breast Cancer Coimbra                                                                   451
Drug Reviews (Druglib.com)                                                              461
Drug Reviews (Drugs.com)                                                                462
Superconductivty Data                                                                   464
Student Academics Performance                                                           467
Online Shoppers Purchasing Intention Dataset                                            468
Electrical Grid Stability Simulated Data                                                471
Real Estate Valuation                                                                   477
Travel Reviews                                                                          484
Travel Review Ratings                                                                   485
Facebook Live Sellers in Thailand                                                       488
Metro Interstate Traffic Volume                                                         492
Hepatitis C Virus (HCV) for Egyptian patients                                           503
Heart Failure Clinical Records                                                          519
Early Stage Diabetes Risk Prediction                                                    529
Pedestrians in Traffic                                                                  536
Cervical Cancer Behavior Risk                                                           537
Estimation of Obesity Levels Based On Eating Habits and Physical Condition              544
Rice (Cammeo and Osmancik)                                                              545
Algerian Forest Fires                                                                   547
Gas Turbine CO and NOx Emission Data Set                                                551
Apartment for Rent Classified                                                           555
Seoul Bike Sharing Demand                                                               560
Iranian Churn                                                                           563
Bone marrow transplant: children                                                        565
COVID-19 Surveillance                                                                   567
HCV data                                                                                571
Taiwanese Bankruptcy Prediction                                                         572
Myocardial infarction complications                                                     579
Student Performance on an Entrance Examination                                          582
Gender by Name                                                                          591
Productivity Prediction of Garment Employees                                            597
AI4I 2020 Predictive Maintenance Dataset                                                601
Dry Bean                                                                                602
In-Vehicle Coupon Recommendation                                                        603
Predict Students' Dropout and Academic Success                                          697
Auction Verification                                                                    713
NATICUSdroid (Android Permissions)                                                      722
Toxicity                                                                                728
DARWIN                                                                                  732
Accelerometer Gyro Mobile Phone                                                         755
Glioma Grading Clinical and Mutation Features                                           759
Multivariate Gait Data                                                                  760
Land Mines                                                                              763
Single Elder Home Monitoring: Gas and Position                                          799
Sepsis Survival Minimal Clinical Records                                                827
Secondary Mushroom                                                                      848
Power Consumption of Tetouan City                                                       849
Raisin                                                                                  850
Steel Industry Energy Consumption                                                       851
Higher Education Students Performance Evaluation                                        856
Risk Factor Prediction of Chronic Kidney Disease                                        857
Maternal Health Risk                                                                    863
Room Occupancy Estimation                                                               864
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891
Recipe Reviews and User Feedback                                                        911
Forty Soybean Cultivars from Subsequent Harvests                                        913
Differentiated Thyroid Cancer Recurrence                                                915
Infrared Thermography Temperature                                                       925
National Poll on Healthy Aging (NPHA)                                                   936
Regensburg Pediatric Appendicitis                                                       938
RT-IoT2022                                                                              942
PhiUSIIL Phishing URL (Website)                                                         967

In [37]:
# fetch dataset and create dataframe
adult = fetch_ucirepo(id=2) 
adultDataFrame = adult.data.original
adultDataFrame

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [38]:
originaldataset = adultDataFrame
originaldataset['workclass'].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [39]:
# adultDataFrame1.replace('?', np.nan, inplace=True)
# # Clean values in income column
# adultDataFrame1['income'].replace('<=50K.', '<=50K',inplace = True)
# adultDataFrame1['income'].replace('>50K.', '>50K',inplace = True)

# print("Duplicate Rows:\n", adultDataFrame1.duplicated().sum())
# duplicates  = adultDataFrame1[adultDataFrame1.duplicated()]
# duplicates
# duplicates[duplicates['fnlwgt']== 308144]
# #Check and drop duplicates
# adult_cleanedData = adultDataFrame1.drop_duplicates(inplace=False)

In [40]:
# 2. Data Cleaning
print("Duplicate Rows:\n", adultDataFrame.duplicated().sum())
# Identify rows where all values are NaN
# Identify rows where all values are NaN
blank_rows = adultDataFrame.isnull().all(axis=1)

# Print the count of blank rows
print("Blank Rows (All NaN values):", blank_rows.sum())
# Handling missing values ('?' is treated as missing in this dataset)
adultDataFrame.replace('?', np.nan, inplace=True)

#Check and drop duplicates
# adult_cleanedData = adultDataFrame1.drop_duplicates(inplace=False)

 

# Clean values in income column
adultDataFrame['income'].replace('<=50K.', '<=50K',inplace = True)
adultDataFrame['income'].replace('>50K.', '>50K',inplace = True)
#adult_cleanedData
adultDataFrame['income'].value_counts()

print("Duplicate Rows:\n", adultDataFrame.duplicated().sum())
duplicates  = adultDataFrame[adultDataFrame.duplicated()]
#duplicates
# #Check and drop duplicates
#adult_cleanedData = adultDataFrame.drop_duplicates(inplace=False)
adultDataFrame.drop_duplicates(inplace=True)

adultDataFrame

Duplicate Rows:
 29
Blank Rows (All NaN values): 0
Duplicate Rows:
 52

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [41]:
# adultDataFrame['education_new'] = np.where(np.isin(adultDataFrame.education,['Preschool','1st-4th','5th-6th']),'Elementary',
#                            np.where(np.isin(adultDataFrame.education,['7th-8th']),'Middle-School',
#                            np.where(np.isin(adultDataFrame.education,['9th','10th','11th','12th']),'High-School',adultDataFrame.education)))
# adultDataFrame[['education_new','education']].value_counts()

adultDataFrame['education_new'] = np.where(np.isin(adultDataFrame.education,['Preschool','1st-4th','5th-6th','7th-8th','9th','10th','11th','12th']),
                                    'Not HS-grad',adultDataFrame.education)

In [42]:
#Now drop the column which are not needed
adultDataFrame.drop(columns=['fnlwgt','education','education-num'], inplace=True)

In [43]:
adultDataFrame

,age,workclass,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,education_new
0,39,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Bachelors
1,50,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Bachelors
2,38,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,HS-grad
3,53,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Not HS-grad
4,28,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Bachelors
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K,Bachelors
48838,64,NaN,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K,HS-grad
48839,38,Private,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K,Bachelors
48840,44,Private,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K,Bachelors
48841,35,Self-emp-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K,Bachelors

In [44]:
# Cap 'hours-per-week' at 80adultDataFrame
adultDataFrame['hours-per-week'] = adultDataFrame['hours-per-week'].apply(lambda x: 80 if x > 80 else x)

# Verify the changes
print(adultDataFrame['hours-per-week'].unique())

[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 33 54  8  6 64 19 18 72  5  9 47 37
 21 26 14  4 59  7 53 39 62 57 78 66 11 49  3 17 68 27 31 51 77 63 23 73
 29 67 76 61 74 79 69]

In [45]:
# encoding values 
# from sklearn.preprocessing import LabelEncoder
# encode_columns = ['workclass','occupation','marital-status','education_new','relationship','race','sex','native-country','income']

# for column in encode_columns:
#  adultDataFrame[column+'_enc'] = LabelEncoder().fit_transform(adultDataFrame[column])

In [46]:
adultDataFrame

,age,workclass,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,education_new
0,39,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Bachelors
1,50,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Bachelors
2,38,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,HS-grad
3,53,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Not HS-grad
4,28,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Bachelors
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K,Bachelors
48838,64,NaN,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K,HS-grad
48839,38,Private,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K,Bachelors
48840,44,Private,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K,Bachelors
48841,35,Self-emp-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K,Bachelors

In [47]:
adultDataFrame['workclass'].isnull().sum()

2795

In [48]:
adultDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48790 entries, 0 to 48841
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48790 non-null  int64
 1   workclass       45995 non-null  object
 2   marital-status  48790 non-null  object
 3   occupation      45985 non-null  object
 4   relationship    48790 non-null  object
 5   race            48790 non-null  object
 6   sex             48790 non-null  object
 7   capital-gain    48790 non-null  int64
 8   capital-loss    48790 non-null  int64
 9   hours-per-week  48790 non-null  int64
 10  native-country  47934 non-null  object
 11  income          48790 non-null  object
 12  education_new   48790 non-null  object
dtypes: int64(4), object(9)
memory usage: 5.2+ MB

In [56]:
# Target variable (Income: '>50K' or '<=50K')
target = adultDataFrame['income']

# 1. Prepare data for Chi-Square Test (Categorical Features)
categorical_features = ['workclass', 'education_new', 'marital-status', 'occupation','relationship','native-country','race','sex']

# Encode categorical features using LabelEncoder
label_encoder = LabelEncoder()

# Create a new DataFrame to store the encoded categorical features
encoded_data = pd.DataFrame()

for feature in categorical_features:
    encoded_data[feature] = label_encoder.fit_transform(adultDataFrame[feature])

# 2. Apply Chi-Square test
chi2_selector = SelectKBest(chi2, k='all')
chi2_selector.fit(encoded_data, target)

# Get Chi-Square scores for each feature (entire column)
chi2_scores = pd.DataFrame({
    'Feature': categorical_features,
    'Chi2 Score': chi2_selector.scores_
})

# Print Chi-Square Test Results
print("Chi-Square Test Results:")
print(chi2_scores.sort_values(by='Chi2 Score', ascending=False))

Chi-Square Test Results:
          Feature   Chi2 Score
4    relationship  5564.016208
2  marital-status  1675.493479
1   education_new   783.394820
7             sex   745.229087
0       workclass   137.325498
6            race    47.965389
5  native-country    20.478630
3      occupation     7.514931

In [57]:
# 2. Prepare data for ANOVA Test (Continuous Features)
continuous_features = ['age', 'hours-per-week', 'capital-gain', 'capital-loss']

# Perform One-Way ANOVA test between continuous features and target
anova_results = {}
for feature in continuous_features:
    # Perform ANOVA
    group_data = [adultDataFrame[adultDataFrame['income'] == income_class][feature] 
                  for income_class in target.unique()]
    f_val, p_val = stats.f_oneway(*group_data)
    
    anova_results[feature] = {'F-Statistic': f_val, 'P-Value': p_val}

# Convert ANOVA results to DataFrame and display
anova_df = pd.DataFrame(anova_results).T
print("\nANOVA Test Results:")
print(anova_df)

ANOVA Test Results:
                F-Statistic        P-Value
age             2728.636927   0.000000e+00
hours-per-week  2793.450782   0.000000e+00
capital-gain    2554.283937   0.000000e+00
capital-loss    1085.677400  1.665052e-235

In [59]:
# Function to load and preprocess data
def load_and_preprocess_data(dataframe):
    label_encoder = LabelEncoder()
    for column in dataframe.select_dtypes(include='object').columns:
        dataframe[column] = label_encoder.fit_transform(dataframe[column])
   # X = dataframe.drop('income', axis=1)
    X = adultDataFrame[['workclass', 'education_new', 'marital-status', 'relationship','sex','age', 'hours-per-week', 'capital-gain']]
    y = dataframe['income']
    return X, y


# Function to scale data for specific models
def scale_data(X_train, X_test):
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    return X_train_scaled, X_test_scaled

# Function to train and evaluate models
def train_and_evaluate_models(X_train, X_test, y_train, y_test, scale_models=[]):
    models = {
        'Logistic Regression': LogisticRegression(),
        'Decision Tree': DecisionTreeClassifier(),
        'Random Forest': RandomForestClassifier(),
        'Gradient Boosting': GradientBoostingClassifier(),
        'SVM': SVC(),
        'Naive Bayes': GaussianNB(),
        'K-Nearest Neighbors': KNeighborsClassifier()
    }
    
    results = {}

    for model_name, model in models.items():
        # Scale input if the model is in the list of scale_models
        if model_name in scale_models:
            model.fit(X_train_scaled, y_train)
            y_pred = model.predict(X_test_scaled)
        else:
            model.fit(X_train, y_train)
            y_pred = model.predict(X_test)
        
        accuracy = accuracy_score(y_test, y_pred)
        precision = precision_score(y_test, y_pred)
        
        # Store the results
        results[model_name] = {
            'Accuracy': accuracy,
            'Precision': precision
        }

        # Print classification report
        print(f"{model_name} Classification Report:\n")
        print(classification_report(y_test, y_pred))
        print('-' * 60)

    return results

# Function to display results
def display_results(results):
    results_df = pd.DataFrame(results).T
    print("\nOverall Model Performance:")
    print(results_df)

# Main function to execute the process
def main(adultDataFrame):
    X, y = load_and_preprocess_data(adultDataFrame)
    
    # Split data
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    # Scale the data for models that require it (SVM, KNN)
    global X_train_scaled, X_test_scaled
    X_train_scaled, X_test_scaled = scale_data(X_train, X_test)

    # Evaluate models
    scale_models = ['SVM', 'K-Nearest Neighbors']
    results = train_and_evaluate_models(X_train, X_test, y_train, y_test, scale_models=scale_models)
    
    # Display the results
    display_results(results)


main(adultDataFrame)

Logistic Regression Classification Report:

              precision    recall  f1-score   support

           0       0.80      0.96      0.87     11068
           1       0.68      0.24      0.36      3569

    accuracy                           0.79     14637
   macro avg       0.74      0.60      0.61     14637
weighted avg       0.77      0.79      0.75     14637

------------------------------------------------------------
Decision Tree Classification Report:

              precision    recall  f1-score   support

           0       0.86      0.89      0.88     11068
           1       0.62      0.56      0.59      3569

    accuracy                           0.81     14637
   macro avg       0.74      0.72      0.73     14637
weighted avg       0.80      0.81      0.80     14637

------------------------------------------------------------
Random Forest Classification Report:

              precision    recall  f1-score   support

           0       0.87      0.91      0.89     11068
           1       0.68      0.58      0.63      3569

    accuracy                           0.83     14637
   macro avg       0.78      0.75      0.76     14637
weighted avg       0.82      0.83      0.83     14637

------------------------------------------------------------
Gradient Boosting Classification Report:

              precision    recall  f1-score   support

           0       0.87      0.94      0.91     11068
           1       0.76      0.57      0.65      3569

    accuracy                           0.85     14637
   macro avg       0.82      0.76      0.78     14637
weighted avg       0.84      0.85      0.84     14637

------------------------------------------------------------
SVM Classification Report:

              precision    recall  f1-score   support

           0       0.84      0.95      0.89     11068
           1       0.72      0.44      0.55      3569

    accuracy                           0.82     14637
   macro avg       0.78      0.69      0.72     14637
weighted avg       0.81      0.82      0.81     14637

------------------------------------------------------------
Naive Bayes Classification Report:

              precision    recall  f1-score   support

           0       0.79      0.97      0.87     11068
           1       0.73      0.21      0.32      3569

    accuracy                           0.79     14637
   macro avg       0.76      0.59      0.60     14637
weighted avg       0.78      0.79      0.74     14637

------------------------------------------------------------
K-Nearest Neighbors Classification Report:

              precision    recall  f1-score   support

           0       0.86      0.91      0.89     11068
           1       0.67      0.55      0.60      3569

    accuracy                           0.82     14637
   macro avg       0.77      0.73      0.75     14637
weighted avg       0.82      0.82      0.82     14637

------------------------------------------------------------

Overall Model Performance:
                     Accuracy  Precision
Logistic Regression  0.787730   0.684211
Decision Tree        0.808021   0.617821
Random Forest        0.832069   0.684613
Gradient Boosting    0.851609   0.762693
SVM                  0.822846   0.723648
Naive Bayes          0.788208   0.729228
K-Nearest Neighbors  0.824144   0.670318

In [ ]:
Overall Model Performance:
                     Accuracy  Precision
Logistic Regression  0.800779   0.720757
Decision Tree        0.814784   0.623418
Random Forest        0.845187   0.716517
Gradient Boosting    0.863087   0.788001
SVM                  0.825579   0.749264
Naive Bayes          0.793605   0.671679
K-Nearest Neighbors  0.824691   0.663728

In [62]:
from sklearn.model_selection import GridSearchCV
# # Define the model
# rf = RandomForestClassifier()
# # Define hyperparameter grid
# param_grid = {
#     'n_estimators': [100, 200, 500],
#     'max_depth': [5, 10, 20, None],
#     'min_samples_split': [2, 10, 20],
#     'min_samples_leaf': [1, 5, 10],
#     'criterion': ['gini', 'entropy']
# }
# # Set up GridSearchCV
# grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=-1)
# grid_search.fit(X_train, y_train)
# # Best parameters and score
# best_params = grid_search.best_params_
# best_score = grid_search.best_score_
# print(f"Best Parameters: {best_params}")
# print(f"Best Score: {best_score}")



# 'income' is the target variable and other features are in 'X'
X = adultDataFrame.drop(columns=['income'])  # Features
y = adultDataFrame['income']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
pipeline = Pipeline([
   # ('classifier', RandomForestClassifier())
     ('classifier',GradientBoostingClassifier())
])

# Hyperparameter tuning
param_grid = {
    'classifier__n_estimators': [50, 100, 200],
    'classifier__max_depth': [None, 10, 20, 30],
    'classifier__min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(pipeline, param_grid, cv=5, n_jobs=-1, verbose=1, scoring='accuracy')
grid_search.fit(X_train, y_train)
best_params = grid_search.best_params_
best_score = grid_search.best_score_
print(f"Best Parameters: {best_params}")
print(f"Best Score: {best_score}")

Fitting 5 folds for each of 36 candidates, totalling 180 fits
Best Parameters: {'classifier__max_depth': 10, 'classifier__min_samples_split': 10, 'classifier__n_estimators': 50}
Best Score: 0.8717206297809625

'classifier__n_estimators': [50, 100, 200],
    'classifier__learning_rate': [0.01, 0.1, 0.2],
    'classifier__max_depth': [3, 4, 5],
    'classifier__min_samples_split': [2, 5, 10]

In [75]:
# 3. Exploratory Data Analysis (EDA)
# Correlation analysis (only for numeric features)
sns.heatmap(adultDataFrame.corr(), annot=True, cmap='coolwarm')
plt.show()

ValueError: could not convert string to float: 'State-gov'

In [ ]:
# 6. Model Training Setup
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.2, stratify=y, random_state=42)

In [ ]:
# 7. Model Explanation and Execution (RandomForestClassifier with hyperparameter tuning)
pipeline = Pipeline([
    ('classifier', RandomForestClassifier())
])

# Hyperparameter tuning
param_grid = {
    'classifier__n_estimators': [50, 100, 200],
    'classifier__max_depth': [None, 10, 20, 30],
    'classifier__min_samples_split': [2, 5, 10]
}

grid_search = GridSearchCV(pipeline, param_grid, cv=5, n_jobs=-1, verbose=1, scoring='accuracy')
grid_search.fit(X_train, y_train)

In [ ]:
# 8. Model Evaluation
best_model = grid_search.best_estimator_

y_pred = best_model.predict(X_test)
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nAccuracy Score: ", accuracy_score(y_test, y_pred))

# Best parameters found by grid search
print("\nBest Hyperparameters:\n", grid_search.best_params_)